<template>
    <div class="row">
        <div class="col-lg-2">
            <img :aspect-ratio="16/9" style="max-width: 300px;" src="http://www.wimaxxed.com/wp-content/uploads/2018/04/Website.jpg" alt="">
        </div>
        <div class="col-lg-2">
            <img :aspect-ratio="16/9" style="max-width: 300px;" src="http://www.wimaxxed.com/wp-content/uploads/2018/04/Website.jpg" alt="">
        </div>
        <div class="col-lg-2">
            <img :aspect-ratio="16/9" style="max-width: 300px;" src="http://www.wimaxxed.com/wp-content/uploads/2018/04/Website.jpg" alt="">
        </div>
        <div class="col-lg-2">
            <img :aspect-ratio="16/9" style="max-width: 300px;" src="http://www.wimaxxed.com/wp-content/uploads/2018/04/Website.jpg" alt="">
        </div>
        <div class="col-lg-2">
            <img :aspect-ratio="16/9" style="max-width: 300px;" src="http://www.wimaxxed.com/wp-content/uploads/2018/04/Website.jpg" alt="">
        </div>
        <div class="col-lg-2">
            <img :aspect-ratio="16/9" style="max-width: 300px;" src="http://www.wimaxxed.com/wp-content/uploads/2018/04/Website.jpg" alt="">
        </div>
    </div>
</template>

<script>
    export default {
        name: "portfolio"
    }
</script>

<style scoped>

</style>