$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px;
    }
  }
}

.m-l-r-100{
  margin: 100px 50px 100px 50px;
}
.is-fullwidth {
  width: 100%;
}

.is-relative{
  position: relative !important;
}
.is-absolute{
  position: absolute !important;
}
.padding-100{
  padding: 100px;
}

.is-bordered{
  border-radius: 5px;
  border: #227dc7 1px solid;
}
.blue-opacity{
  background-color: #004cff;
  opacity: .9;
  color: white;
  padding: 120px;
}
.gray-opacity{
  background-color: #5a6268;
  opacity: .9;
  color: white;
  padding: 120px;
}
.width-100{
  max-width: 100%;
}
.text-orange{color: #E65100 !important;}
.btn-outline-orange{
  color: #E65100;
  border: 1px #E65100 solid !important;
  border-radius: 0.25rem;
  &:hover{
    background-color: #E65100;
    color: white;
  }
}

.main-text {
  font-family: 'Roboto', sans-serif;
}

.bg-gradient {
  background: rgb(50,200,255);
  background: radial-gradient(circle, rgba(50,200,255,1) 0%, rgba(62,148,205,1) 100%);
}