@media screen and (max-width: 600px) {
  .text-mobile-center{
    text-align: center !important;
  }
  .m-l-r-100{
    margin: 10px 5px 10px 5px !important;
  }
  .padding-100{
    padding: 10px !important;
  }
  .blue-opacity{
    padding: 35px !important;
  }
  .gray-opacity{
    padding: 35px !important;
  }
  .newsletter {
    margin-bottom: 150px !important;
    .field {
      left: 20px !important;
      right: 20px !important;
      input {
        font-size: 12px !important;
        padding: 0 30px 10px 5px !important;
      }
    }
  }
  .title-b{
    font-size: 18px !important;
  }
  .footer{
    padding: 30px !important;
  }
  .item-main-hover{
    padding: 15px !important;
  }
  .btn-center-absolute{
    bottom: -5% !important;
    left: 70px !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  .btn-center-absolute{
    bottom: -5% !important;
    left: 240px !important;
  }
}


@media screen and (min-width: 991px) {
  .mobile-only {
    display: none !important;
  }
}