
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Bitter|Bree+Serif&subset=latin-ext'); //for asside
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

// Fonts awesome
@import '~font-awesome/scss/font-awesome';

// RWD
@import 'rwd';

// Variables
@import 'variables';

// Variables
@import 'helpers';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-reboot';

// Animate css
@import "~animate.css/animate.min.css";

// Custom
@import 'custom';


// Blog
@import "blog";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
