body html {
  background-color: #EEEEEE !important;
}

#intro {
  background-image: url("./../../public/img/main/blog-bg.jpg");
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
}
#blog-intro {
  background-image: url("./../../public/img/main/blog-bg.jpg");
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  max-height: 400px;
.intro-text {
  padding-top: 3%;
  color: white;
  text-align: center;
  padding-bottom: 10%;
}
}

.intro-text {
  padding-top: 10%;
  color: white;
  text-align: center;
  padding-bottom: 10%;
}

.post-card {
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 2px;
  .post-card-image {
    width: 100%;
  }
}
.post-card-body {
  padding: 2px;
  .post-card-header {
    padding: 3px;
    font-size: 18px;
  }
  .post-card-content {
    text-align: justify;
    color: black;
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px){
  .post-card{margin: 10px !important;}
  .post-card-header{padding: 10px !important; font-size: 22px !important;}
  .post-card-body{padding: 10px !important; font-size: 14px !important;}
}


.bg-gradient-orange{
  background: -moz-radial-gradient(center, ellipse cover, rgba(230,156,156,1) 0%, rgba(230,81,0,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(230,156,156,1)), color-stop(100%, rgba(230,81,0,1))); /* safari4+,chrome */
  background:-webkit-radial-gradient(center, ellipse cover, rgba(230,156,156,1) 0%, rgba(230,81,0,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(230,156,156,1) 0%, rgba(230,81,0,1) 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(230,156,156,1) 0%, rgba(230,81,0,1) 100%); /* ie10+ */
  background:radial-gradient(ellipse at center, rgba(230,156,156,1) 0%, rgba(230,81,0,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E69C9C', endColorstr='#E65100',GradientType=0 ); /* ie6-9 */
}

#cytat{
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("https://image.freepik.com/free-photo/abstract-techno-background-with-connecting-lines_1048-5570.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.skillbar {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.skillbar-bar:before {
  background: #eee;
  content: "";
  height: 3px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.skillbar-bar {
  height: 3px;
  width: 0px;
  background: #323232;
  transition-property: width, background-color;
}

.skillbar-title {
  color: #323232;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.skill-bar-percent {
  float: right;
  display: inline-block;
  color: #323232;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.cat-header{
  background-color: white;
}