/** Bootstrap overides **/

.navbar {
  background-color: $black-material;
  -webkit-box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.75);
  z-index: 999;
}

/** Custom styles **/
.asside {
  width: calc(100% - 90%);
  min-width: 270px !important;
  height: 100%;
  position: fixed;
  top: 0;
  padding: 0 !important;
  background-color: $black-material;
  -webkit-box-shadow: 6px 0px 6px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 0px 6px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 0px 6px -3px rgba(0, 0, 0, 0.75);
  hr {
    border-bottom: 1px white solid;
  }
  .asside-content {
    margin-top: 100px;
    margin-left: 10px;
    .asside-menu-item {
      display: block;
      border-bottom: 0.1rem #424242 solid;
      padding: 10px 10px 5px 20px;
      &:hover {
        background-color: #424242;
        color: #616161;
      }
    }
    .menu-item-link {
      color: $blue-grey;
      font-family: 'Bree Serif', serif;
      text-transform: uppercase;
      text-decoration: none;
    }
    .asside-menu {
      padding-left: 0 !important;
      margin-bottom: 0 !important;
      list-style-type: none;
    }

    .asside-submenu {
      padding-left: 15px !important;
      margin-bottom: 0 !important;
      list-style-type: none;
      color: $blue-grey;
      font-family: 'Bree Serif', serif;
      text-transform: uppercase;
    }
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.content {
  overflow: auto;
  top: 15px;
  margin-left: 275px;
  padding-right: 10px !important;
  width: calc(100% - 20%);
  position: relative;
  height: 100%;
}

.linkToObject {
  text-decoration: none;
  color: black;
  font-family: 'Bitter', serif;
  &:hover {
    color: red;
    text-decoration: none;
  }
}


.bg-login {
  background-image: url('./../../public/img/main/login-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/**
front
 */


.intro {
  color: white;
  text-align: center;
  margin-top: 15%;
  padding-bottom: 15%;
}

.navbar-custom {
  padding: 50px;
}

.custom-nav-link {
  text-transform: uppercase;
  margin-right: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.logo {
  font-size: 2rem;
  color: white !important;
}



.footer {
  margin-top: 100px;
  padding: 100px;
  text-align: center;
  color: white;
}

.portfolio {
  background-color: #ccc1c3;
}

.card-link {
  text-transform: none;
  color: black;
  text-decoration: none;
  &:hover {
    text-transform: none;
    color: black;
    text-decoration: none;
    .card-hover {
      -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 14px -3px rgba(0, 0, 0, 0.14);
      box-shadow: 0px 10px 13px -7px #000000, 5px 5px 14px -3px rgba(0, 0, 0, 0.14);
    }
  }
}
/*
.article {
  background-color: white;
  padding: 0;
}
*/

.item-main-hover {
  color: gray;
  border: none;
  padding: 70px;
  &:hover {
    -webkit-box-shadow: 0px 27px 55px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 27px 55px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 27px 55px -20px rgba(0, 0, 0, 0.75);
    transition: box-shadow 0.3s ease-in-out;
  }
}
/*
.shape {
  position: absolute;
  top: 62px;
  right: 0;
  max-width: 36.66%;
  line-height: 1;
  pointer-events: none;
}
*/
.newsletter {
  position: absolute;
  opacity: 1;
  background-color: #1b4b72;
  img {
    opacity: .12;
    max-width: 100%;
  }
  .field {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 120px;
    right: 120px;
    .custom-submit{
      color: #00d4ff;
      background-color: transparent;
      border: none;
      font-size: 14px;
      line-height: 1;
      position: absolute;
      right: 10px;
      top: 0;
      cursor: pointer;
      -webkit-transition: color .3s ease;
      transition: color .3s ease;
    }
    input {
      color: white;
      background-color: transparent;
      border: none;
      border-bottom: #00d4ff 3px solid;
      width: 100%;
      line-height: 1.2em;
      font-size: 27px;
      padding: 0 70px 40px 25px;
    }
  }
}



.title-b {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4705em;
  text-align: justify;
}
.btn-center-absolute{
  bottom: 15px;
  right: -11%;
  z-index: 999;
}


